body,html{
    background-color: #F2F2F2;
    margin:0;
    padding: 0;
    width:100%;
    height: 100%;
    font-family: '나눔스퀘어라운드 light';
}
a{
    text-decoration: none;
}
select{
    width: 7rem;
    height: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 1px 3px 1.7px rgba(78, 78, 78, 0.75);
    border: 0;
    text-align: center;
}
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35rem;
    justify-content: space-around;
}
.height-container{
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    width: 7rem;
    justify-content: space-between;
}
.weight-container{
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    width: 7rem;
    justify-content: space-between;
}
.box-container{
    display: flex;
    width: 18rem;
    justify-content: space-around;
}
.box-container p{

}
.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}
.img-container img{
    width: 2.5rem;
    height: auto;
}
.Gauge-bar{
    width: 149.3px;
    background-color: white;
    height: 0.3rem;
    background: linear-gradient(90deg, rgba(255,97,144,1) 0%, rgba(40,108,225,1) 100%);
    
}
.Gauge-bar-white{
    width: 74.6px;
    background-color: rgb(133, 133, 133);
    height: 0.3rem;
}
.Gauge-bar-box{
    display: flex;
}
.main-text{
    font-family: "nanumsquareround";
    font-size: 1.5rem;
    font-weight:600;
    text-shadow: rgb(170, 170, 170) 1px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textbox {
    position: relative; 
    width: 15rem;
    height: 3rem; 
    margin:0rem;
}

.textbox label {
  position: absolute;
  top: -3px;  /* input 요소의 border-top 설정값 만큼 */
  left: 0px;  /* input 요소의 border-left 설정값 만큼 */
  padding: .8em .5em;  /* input 요소의 padding 값 만큼 */
  color: #999;
  cursor: text;
}

.textbox input[type="text"] {
  width: 50%;  /* 원하는 너비 설정 */ 
  height: auto;  /* 높이값 초기화 */
  line-height : normal;  /* line-height 초기화 */
  padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
  border: none;
  border-radius: 1rem;  /* iSO 둥근모서리 제거 */
  outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
  -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0rem 0rem 0.5rem 0rem rgba(0, 0, 0, 0.281);
}
.bodytype-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#next-box{
    width: 15rem;
    height: 2.3rem;
    background: linear-gradient(90deg, rgba(255,97,144,1) 0%, rgba(40,108,225,1) 100%);;
    border-radius: 1.2rem;
    color: white;
    font-family: "nanumsquareround";
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#semitext{
    font-family: "nanumsquareround";
    font-size: 0.8rem;
    color: rgb(121, 121, 121)
}
#nav{
    width: 1.5rem;
    height: auto;
}












@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');