body,html{
    background-color: rgb(233, 233, 233);
    margin:0;
    padding: 0;
    width:100%;
    height: 100%;
    font-family: '나눔스퀘어라운드 light';
}
a{
    text-decoration: none;
}
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35rem;
    justify-content: space-around;
}
.box-container{
    display: flex;
    height: 6rem;
    width: 15rem;
    justify-content: space-around;
    align-items: center;
   
}
.box{
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 2.5rem;
    font-family: "nanumsquareround";
    font-size: 0.8rem;
    color: rgb(187, 187, 187);
    box-shadow: 0px 1px 3px 1.7px rgba(78, 78, 78, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}
.img-container img{
    width: 2.5rem;
    height: auto;
}
.Gauge-bar{
    width: 37.3px;
    background-color: white;
    height: 0.3rem;
    background: linear-gradient(90deg, rgba(255,97,144,1) 0%, rgba(40,108,225,1) 100%);
    
}
.Gauge-bar-white{
    width: 186.7px;
    background-color: rgb(133, 133, 133);
    height: 0.3rem;
}
.Gauge-bar-box{
    display: flex;
}
#main-text{
    font-family: "nanumsquareround";
    font-size: 1.5rem;
    font-weight:1000;
    text-shadow: rgb(131, 131, 131) 1px 0 10px;
}
#next-box{
    width: 15rem;
    height: 2.3rem;
    background: linear-gradient(90deg, rgba(255,97,144,1) 0%, rgba(40,108,225,1) 100%);;
    border-radius: 1.2rem;
    color: white;
    font-family: "nanumsquareround";
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#semitext{
    font-family: "nanumsquareround";
    font-size: 0.8rem;
    color: rgb(121, 121, 121)
}













@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');