body, html{
    margin:0;
    padding: 0;
    width:100%;
    height: 100%;
    font-family: '나눔스퀘어라운드 light';
}
body{
    position: fixed; 
	overflow-y: scroll;
	width: 100%;
}

.setting{
    position: absolute;
    font-size:1.5rem;
    left: -0.7rem;
}

.setting i{
    color: white;
}

#main{
    width: 100%;
    height: 100%;
    background:linear-gradient(135deg, rgb(255, 97, 144), #FFEF88);
    z-index: -1;
    position: relative;
}

#mainTomorrow{
    width: 100%;
    height: 100%;
    background:linear-gradient(135deg, rgb(255, 97, 144), rgb(40, 108, 255));
    z-index: -1;
    position: relative;
}



p{
    margin: 0;
}

.weather-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container{
    width: 100%;
    position: absolute;
    margin-top:2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.title-container i{
    margin: 0 0.5rem;
    color: white;
    padding: 0rem;
}
.title-i-container{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    width: 4rem;
    height: auto;
}

.title-container img{
    width: 3rem;
    height: auto;
}

.weather-info{
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: column;
}

.weather-info{
    padding-top:14rem;
    color: white;
}

.weather-info-img img{
    width: 6rem;
}

.weather-info-text{
    margin-left: 1rem;
    font-family: '나눔스퀘어라운드 Extrabold';
    font-size: 4rem;
}

#today-weather{
    font-family: '나눔스퀘어라운드 Extrabold';
    font-size: 2rem;
    margin: 0.5rem 0rem;
}

.weather-info-num{
    margin-bottom:-0.5rem;
}

.weather-info-lan{
    font-size: 1.5rem;
}

.weather-info-text-percent{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.weather-info-text-percent p{
    font-family: '나눔스퀘어라운드 light';
    margin-right: 1rem;
    font-size: 0.3rem;
}

.weather-info-graph{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

.weather-caution img{
    width:3rem;
}


.weather-caution{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.weather-caution-info{
    padding:1.3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 1.3rem;
}

hr{
    width:85%;
}

.weather-caution-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.8rem;
    font-size: 0.75rem;
}

.nav-dot i{
    color: white;
    font-size: 0.2rem;
    padding: 0px;
    margin: 0.5rem;
}

.nav-dot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#next {
    font-size: 1rem;
    color: rgba(116, 114, 114, 0);
    z-index: 1;
}

@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
